body {
    margin: 0 auto;
    padding: 0;
    height: auto;
    overflow-x: hidden;
}
*,
*:before,
*:after{
    box-sizing: border-box;

}

h1, h2, h3, h4, h5, h6{
    margin: 0 auto;
}

p{
    margin: 0px;
}

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

html {
    scroll-behavior:smooth;
    overflow-x: hidden;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 100%;
    max-width: 250px;
    height: auto;
}
.form_name{
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(10, 64, 114);
}
input {
    padding: 2px;
    margin: 2px auto;
    width: 100%;
    max-width: 250px;
}
.btn {
    
    background-color: rgb(84, 130, 170);
    color: white;  
    transition: all .3s linear;  
}
.btn:hover {
    background-color: rgb(10, 64, 114);    
}

